@page
@model InyeccionDependencias.Pages.GrafoModel
@{
    ViewData["Title"] = "Grafo";
}

<h2>Grafo</h2>

<p>
    lorem  Ipsum
</p>

<p>
    Mensaje del servicio: 
</p>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}